---
import Footer from "../components/Footer";
import Hero from "../components/Hero";
import Logo from "../components/Logo";
import Platform from "../components/Platform";

import "@fontsource/lato";
import "@fontsource/poppins";
import "@fontsource/raleway";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="/vp-external-dnAtZXh0ZXJuYWw=/og-image.webp" />
		<meta property="og:title" content="Daniel Thorp for VP External" />
		<meta property="og:description" content="Daniel Thorp is running for VP External of IEEE uOttawa." />
		<meta property="og:url" content={Astro.site} />
		<meta property="og:site_name" content="Daniel Thorp for VP External" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@arcanistzed" />
		<meta name="twitter:creator" content="@arcanistzed" />
		<meta name="twitter:title" content="Daniel Thorp for VP External" />
		<meta name="twitter:description" content="Daniel Thorp is running for VP External of IEEE uOttawa." />
		<meta name="twitter:image" content="/vp-external-dnAtZXh0ZXJuYWw=/og-image.webp" />

		<title>Daniel Thorp for VP External</title>
	</head>
	<body class="h-full">
		<Logo client:load />
		<Hero client:load />
		<Platform client:load />
		<Footer />
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		color-scheme: dark;
	}

	html,
	body {
		height: 100%;
	}

	body {
		margin: 0;
		height: 100vh;
	}
</style>
